body {
  background-image: url(./cake.jpg);
  align-items: center;
  margin: 300px;
  padding: 0px;
  
  font: 20px Helvetica, sans-serif;
    font-display: swap;
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
label{
  color: #b20f14;
  font-size: 20px;
  font-weight: bold;
}
input{
  text-align: center;
  border: 1px solid #b20f14;
  border-radius: 10px;
  padding: 0px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
